main > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.bg-dark{
    background-color: #0097b2 !important; /*Aquí se cambia el color del fondo del Header*/
}

 body {
    background: url("../images/fondoBody3.png") no-repeat center center fixed; /*para cambiar imagen de fondp del body*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      margin-top: 100px; /*hace que haya margen por encima del título del home*/
    height: 100%;
      
 }
 
 .btn-primary {
    color: #fff;
    background-color: #ae67cb !important;
    border-color: #1e1d1e !important;
}

.btn-success {
    color: #fff;
    background-color: #ae67cb !important;
    border-color: #1e1d1e !important;
}

/*Margen entre el slider y las tarjetas*/
.mt-2, .my-2 {
   margin-top: 10em !important;
}

/*PROPIEDADES DE LAS CLASE TARJETAS*/
.card-body {
    color: #000000 !important;
    background-color: #ffffff;
    border: #38B6FF; 
    transition: background-color 0.4s; /* Agregamos una transición suave */
    border-radius: 10px;
    font-size: 16px; /* Ajusta el tamaño de fuente según tus preferencias */
}

.card-body:hover {
    background-color: #01c4e6  !important; /* Cambiamos el color de fondo en hover */
}

/*borde redondeado todas las tarjetas*/
.card-deck .card{
    border-radius: 10px !important;
    
}

.card-body {
    position: relative;
}

.card-body::before {
/*    Aplica el border-radius solo en la parte inferior */
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
  content: attr(data-title); /*  Titulo en el div*/
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ae67cb  ;
    color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.card-body:hover::before {
    opacity: 1;
}



body {
    font-family: 'Roboto', monospace !important; /* Reemplaza 'Roboto' con el nombre de la fuente que deseas usar */
    /* Otros estilos de texto según sea necesario */
    font-weight: 500 !important;
}

/* Estilos adicionales para el elemento .jumbotron h1 */
.jumbotron h1 {
    font-family: 'Roboto', monospace !important; /* Reemplaza 'Playfair Display' con el nombre de la fuente que deseas usar */
    /* Otros estilos de texto según sea necesario */
    font-weight: 500 !important;
}

/* Estilos adicionales para los elementos a */
a {
    font-family: 'Roboto', monospace !important; /* Reemplaza 'Roboto' con el nombre de la fuente que deseas usar */
    /* Otros estilos de texto según sea necesario */
    font-weight: 500 !important;
}

/* Agregar un margen derecho al logo */
.navbar-brand {
    margin-right: 500px;
}


/* Agregar ancho personalizado a la tarjeta */
.tarjeta-ancha {
    width: 300px; /* Ajusta este valor según sea necesario */
}

.navbar-dark .navbar-nav .nav-link {
    color: #000000 !important; /*esto es el color del texto del header*/
    font-family: 'Bevan', cursive; /*Tipografias del header*/
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff !important; /* Color del texto del hover del header */
    border-bottom: 2px solid #ae67cb; /* Color y grosor de la línea roja */
}


